@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111827;
  margin: 0;
  padding: 0;
}

.text-shadow-neon {
  text-shadow: 0 0 8px rgba(96, 165, 250, 0.6);
}

.text-shadow-light {
 text-shadow: 0 0 8px rgba(167, 139, 250, 0.3);
}

.bg-gray-800 {
  background-color: #1f2937 !important;
}